/*Général*/

hr {
	visibility: hidden;
}

body {
	font-family: Ubuntu, sans-serif;
	color: black;
}

/* Début du Header*/
.jumbotron {
	background-image: url(../images/header_home.png);
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
	padding-bottom: 15%;
}
.imgh {
	margin: -4% 0 0 5%;
}

.tpheader {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textheader {
	text-align: center;
}

.pictoheader {
	display: flex;
	justify-content: space-between;
	width: 21%;
}
/* fin du header*/

/*Main 1*/
h2{
	color: #e41248;
	text-align: center;
	padding-right: 20%;
	padding-left: 20%;
	font-size: 3.5rem;
	font-weight: 700px;
}

.padded {
	width: 30%;
	margin: 0 1%;
	border: 1px solid #D8D8D8;
	border-radius: 5%;
	box-shadow: 2px 2px 4px #CAC9CA;
	padding: 3% 0 3% 0;
}

.img1 {
	margin-left: 35%;
}

.btn {
	margin-left: 14%;
}

.main11 {
	font-size: 26px;
	margin-left: 3%;
}

/*Main 2*/
	
#main2 {
	width: 56%;
	margin-left: 22%;
}

h3 {
	text-align: center;
	color: #e41248;
	font-size: 37px;
	font-weight: bold;
}

.m2 {
	font-size: 19px;
}

li {
	font-size: 19px;
	color: #e41248
}

span {
	color: black;
}
/*Main 3*/

#main3 {
	display: flex;
	flex-direction: column;
}
h4 {
	font-size: 26px;
	font-weight: bold;
}

.devises {
	display: flex;
	justify-content: space-between;
	margin: 0 2% 0 2%;
}

.poly1 {
	width: 30%;
	height: 27em;
	background-image: url(../images/polygone_identite.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.poly2 {
	width: 30%;
	background-image: url(../images/polygone_defi.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.poly3 {
	width: 30%;
	background-image: url(../images/polygone_pari.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.idp {
	width: 50%;
	height: 60%;
	margin: 22% 0 0 26%;
	font-size: 18px;
}

/*Main 4*/

#main4 {
	display: flex;
	justify-content: center;
	margin-bottom: 15%;
}

.access {
	background-color: #D8D8D8;
	width: 50%;
	padding: 4% 6% 0 6%;
	font-size: 19px;
}

.img4 {
	width: 50%;
}

h6 {
	color: #e41248;
	font-size: 37px;
	font-weight: bold;
}

/*Main 5*/

#main5 {
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 4%;
	font-size: 18px;
}
	
#imgquest {
	margin-top: -8%;
}

.mail {
	color: #e41248;
	text-decoration: underline;
}

/*Main 6*/

h3 {
	color:#e41248;
	text-align: center; 
}

.imagemain6 {
	text-align: center;
}

.imagemain7 {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.imagemain8 {
	text-align: center;
}

.main6p {
	text-align: left;
	width: 58%;
	margin-left: 25%;
	font-size: 23px;
	margin-bottom: 5%;
}


/*Footer*/

footer {
	background-color: black;
	color: white;
	font-style: bold;
	font-size: 18px;
}

.footer-rs {
	width: 20%;
	margin-left: 80%;
}

.logo-container {
	width: 25%;
}

.footer-info {
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin-left: 25%;
}
